In [ ]:
# Python SQL toolkit and Object Relational Mapper


#import sqlalchemy
#from sqlalchemy.ext.automap import automap_base
#from sqlalchemy.orm import Session
#from sqlalchemy import create_engine, func

# create engine to hawaii.sqlite
#engine = create_engine("sqlite:///Resources/df.sqlite")

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np 
import datetime as dt
from scipy.stats import linregress
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel
from sklearn.manifold import TSNE
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

import warnings
warnings.filterwarnings('ignore')

# Study raw data files
total_registered_cases = "Resources/Total_registerd_cases_raw_df2010-2019.csv"
total_registered_cases_by_State = "Resources/Total_registerd_cases_by state_df2010-2019.csv"

# Read both dataframes
total_registered_cases_df = pd.read_csv(total_registered_cases, encoding="utf-8")
total_registered_cases_by_State_df = pd.read_csv(total_registered_cases_by_State, encoding="utf-8")

In [2]:
total_registered_cases_by_State_df

          State     Sex  Year Age recode with <1 year olds
0       Alabama    Male  2010                  01-04 years
1       Alabama    Male  2010                  01-04 years
2       Alabama    Male  2010                  01-04 years
3       Alabama    Male  2010                  01-04 years
4       Alabama    Male  2010                  05-09 years
...         ...     ...   ...                          ...
752436  Wyoming  Female  2020                  75-79 years
752437  Wyoming  Female  2020                  75-79 years
752438  Wyoming  Female  2020                  75-79 years
752439  Wyoming  Female  2020                  80-84 years
752440  Wyoming  Female  2020                    85+ years

[752441 rows x 4 columns]

In [3]:
total_registered_cases_df

,Age recode with <1 year olds,"Race recode (White, Black, Other)",Sex,Year of diagnosis,PRCDA 2017
0,85+ years,White,Male,2012,Not PRCDA
1,70-74 years,White,Female,2018,Not PRCDA
2,55-59 years,White,Female,2016,Not PRCDA
3,70-74 years,White,Male,2011,Not PRCDA
4,65-69 years,White,Male,2011,Not PRCDA
...,...,...,...,...,...
1048570,80-84 years,White,Female,2019,PRCDA
1048571,65-69 years,White,Male,2010,PRCDA
1048572,65-69 years,White,Female,2012,PRCDA
1048573,80-84 years,White,Male,2013,PRCDA
1048574,75-79 years,White,Male,2010,PRCDA

In [ ]:
# Combine the data into a single dataset.  
#Final_data_combined_df = pd.merge(total_registered_cases_df, total_registered_cases_by_State_df)